<!-- Photo voting -->
<div class="row">
	<div class="card col-md-4 col-sm-6">
	    <div class="card card-with-border card-just-text" data-background="color" data-color="black" >
	        <div class="content">
	            <img src="{{ photo.photo.path }}" alt="...">

	        </div>
	    </div> <!-- end card -->

	    <input type="button" class="btn btn-success" ng-click="photo.submitAnswer('yes')" value="Si">
		<input type="button" class="btn btn-danger" ng-click="photo.submitAnswer('no')" value="No">
	</div> 

	
</div>



