<!-- Select sex -->
<div class="form-group">
    <h3>Sono</h3>

</div>

<div class="btn-group" role="group" aria-label="...">
	<input type="button" class="btn btn-default" 
		ng-model="user.profile.sex" 
		value="Uomo"
		ng-click="user.profile.sex='M'">
	<input type="button" class="btn btn-default" 
		ng-model="user.profile.sex" 
		value="Donna"
		ng-click="user.profile.sex='F'">
</div>


<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="likes({user: user.profile})" class="btn btn-block btn-info">
    Prossimo <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>